<app-loader *ngIf="isLoaded"></app-loader>
<mat-card>
  <form
    [formGroup]="itPersonel"
    action=""
    (ngSubmit)="itPersonel.valid && handleSubmit()"
  >
    <div class="d-flex">
      <div>
        <h1>IT Personnel</h1>
      </div>
    </div>
    <div class="inputs d-flex">
      <mat-form-field appearance="outline" class="">
        <mat-label>IT spend on personnel & outsourcing (67-72%)</mat-label>
        <input
          autocomplete="off"
          formControlName="it_spend_on_personal_perc"
          matInput
          placeholder="Annual Revenue"
        />
        <mat-error>IT spend on personnel & outsourcing is required </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="">
        <mat-label>Avg. CTC per FTE of client (persumed Onsite)</mat-label>
        <input
          autocomplete="off"
          formControlName="avr_ctc_per_fte"
          matInput
          placeholder="It Spend"
        />
        <mat-error>Avg. CTC per FTE of client is required </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="">
        <mat-label>Max. % eligible for outsourcing</mat-label>
        <input
          autocomplete="off"
          formControlName="perc_eligible_forpersonal"
          matInput
          placeholder="It Spend"
        />
        <mat-error>Outsourcing is required </mat-error>
      </mat-form-field>
      <div class="form__action d-flex">
        <button
          mat-raised-button
          color="primary"
          (click)="handleGet()"
          type="button"
        >
          Get
        </button>
        <button
          [disabled]="!canUpdate"
          (click)="handleUpdate()"
          mat-raised-button
          color="primary"
          class="mx-3"
          type="button"
        >
          Update
        </button>
        <button mat-raised-button color="primary" type="submit">Add</button>
      </div>
      <!-- <mat-form-field appearance="outline" class="">
        <mat-label>Run It Spend</mat-label>
        <input
          autocomplete="off"
          formControlName="run"
          matInput
          placeholder="Run It Spend"
        />
      </mat-form-field> -->
    </div>
  </form>
  <div class="result-table">
    <table class="table mt-4">
      <tbody>
        <tr>
          <td class="w-50">IT spend on personnel & outsourcing (67-72%)</td>
          <!-- <td>% {{ itSpend?.value || 0 }}</td>
          <td>{{ claculatedVal.outSourcing | currency: "USD":true:"1.0" }}</td> -->
          <td>{{ itPersonelData?.it_spend_on_personal_perc || 0 }}%</td>
          <td>
            {{
              itPersonelData?.it_spend_outsource | currency: "USD":true:"1.0"
            }}
          </td>
        </tr>
        <tr>
          <td>Avg. CTC per FTE of client (persumed Onsite)</td>
          <!-- <td>{{ ctc?.value || 0 | currency: "USD":true:"1.0" }}</td>
          <td>{{ dividedVals.outSourcing }}</td> -->
          <td>
            {{ itPersonelData?.avr_ctc_per_fte | currency: "USD":true:"1.0" }}
          </td>
          <td>{{ itPersonelData?.avr_ctc_final }}</td>
        </tr>
        <tr>
          <td>RUN FTE</td>
          <!-- <td>{{ claculatedVal.run | currency: "USD":true:"1.0" }}</td>
          <td>{{ dividedVals.run }}</td> -->
          <td>
            {{ itPersonelData?.run_fte_personal | currency: "USD":true:"1.0" }}
          </td>
          <td>{{ itPersonelData?.run_fte_outsource }}</td>
        </tr>
        <tr>
          <td>GROW FTE</td>
          <!-- <td>{{ claculatedVal.grow | currency: "USD":true:"1.0" }}</td>
          <td>{{ dividedVals.grow }}</td> -->
          <td>
            {{ itPersonelData?.grow_fte_personal | currency: "USD":true:"1.0" }}
          </td>
          <td>{{ itPersonelData?.grow_fte_outsource }}</td>
        </tr>
        <tr>
          <td>TRANSFORM FTE</td>
          <!-- <td>{{ claculatedVal.transform | currency: "USD":true:"1.0" }}</td>
          <td>{{ dividedVals.transform }}</td> -->
          <td>
            {{
              itPersonelData?.transform_fte_personal
                | currency: "USD":true:"1.0"
            }}
          </td>
          <td>{{ itPersonelData?.transform_fte_outsource }}</td>
        </tr>
        <tr>
          <td>Max. % eligible for outsourcing</td>
          <!-- <td>{{ maxOutsourcing?.value || 0 }} %</td>
          <td>
            {{
              cal.caluclatePercentage(maxOutsourcing?.value, dividedVals.run)
            }}
          </td> -->
          <td>{{ itPersonelData?.perc_eligible_forpersonal || 0 }}%</td>
          <td>{{ itPersonelData?.eligible_outsource }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-charts></app-charts>
</mat-card>
