<table class="table">
  <thead>
    <tr>
      <th>Asset classificatio</th>
      <th>%split</th>
      <th>Baseline year</th>
      <th>Levers</th>
      <th>Activities</th>
      <th>Year1</th>
      <th>Year2</th>
      <th>Year3</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ inputData.asset }}</td>
      <td>{{ inputData.type === "spendOnRun" ? "" : "31%" }}</td>
      <td>
        {{
          inputData.type === "spendOnRun"
            ? ""
            : (0 | currency: "USD":true:"1.0")
        }}
      </td>
      <td></td>
      <td>
        {{
          inputData.type === "spendOnRun" ? "" : "Spend increase with inflation"
        }}
      </td>
      <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="">{{ inputData?.asset1 }}</td>
      <td></td>
      <td></td>

      <td>{{ inputData.leverh1 }}</td>
      <td>{{ inputData.activitiesh1 }}</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr>
      <td colspan="">{{ inputData?.asset2 }}</td>
      <td></td>
      <td></td>
      <!-- <td></td> -->
      <td>{{ inputData.leverh2 }}</td>
      <td>{{ inputData.activitiesh2 }}</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr>
      <td colspan="3">{{ inputData?.asset3 }}</td>
      <td>{{ inputData.leverh3 }}</td>
      <td>{{ inputData.activitiesh3 }}</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr>
      <td colspan="3">{{ inputData?.asset4 }}</td>
      <td>{{ inputData.leverh4 }}</td>
      <td>{{ inputData.activitiesh4 }}</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr>
      <td colspan="4"></td>
      <td>Subtotal</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
    </tr>
  </tbody>
</table>
