<app-loader *ngIf="isLoaded"></app-loader>

<mat-card>
  <h1>RUN IT Personnela with 85% Outsourcing (all Onsite model)</h1>
  <table class="table" cellspacing="0" cellpadding="1" border="1">
    <thead>
      <tr>
        <th>FTE</th>
        <th>Baseline Year</th>
        <th>Year-1</th>
        <th>Year-2</th>
        <th>Year-3</th>
        <th>Total Savings in FTEs</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Client Exit Load</th>
        <td>811</td>
        <td>638</td>
        <td>287</td>
        <td>345</td>
        <td>67</td>
      </tr>
      <tr>
        <th>Partner / Collabera Exit Load</th>
        <td>811</td>
        <td>638</td>
        <td>287</td>
        <td>345</td>
        <td>106</td>
      </tr>
      <tr>
        <th>Scope</th>
        <td>811</td>
        <td>638</td>
        <td>287</td>
        <td>345</td>
        <td>45</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>COSTS</th>
        <th>Baseline Year</th>
        <th>Year-1</th>
        <th>Year-2</th>
        <th>Year-3</th>
        <th>Total</th>
        <th>Net Run rate reduction</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Client Spend</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
      <tr>
        <th>Partner Bill</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
      <tr>
        <th>Total Spend</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
    </tbody>
  </table>
</mat-card>

<mat-card>
  <table class="table" border="2">
    <tbody>
      <tr>
        <th>SAVINGS THROUGH OPTIMIZATION LEVERS</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
       <tr>
        <th>Cost of Transformation Partner share</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
       <tr>
        <th>1. TOTAL SAVINGS WITH ASSET ONLY MODEL</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
       <tr>
        <th>RUN BUSINESS IT ASSET RUN RATE WITH PARTNER (no personnel model)</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
       <tr>
        <th>TOTAL</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
    </tbody>
  </table>
</mat-card>
