<table class="table">
    <thead>
        <tr>
            <th>TOTAL Savings Model (With fitshoring)</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>RUN RATE</th>
            <th>WITH PARTNER</th>
            <th>WITHOUT PARTNER</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Baseline year</td>
            <td>{{ waterfallsdata?.baseline_year_withpatner| currency: "USD":true:"1.0" }}</td>
            <td>{{ waterfallsdata?.baseline_year_withoutpatner | currency: "USD":true:"1.0" }}</td>
           
        </tr>
        <tr>
            <td>year1</td>
            <td>{{ waterfallsdata?.year1withpatner | currency: "USD":true:"1.0" }}</td>
            <td>{{ waterfallsdata?.year1withoutpatner | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td>year2</td>
            <td>{{ waterfallsdata?.year2withpatner | currency: "USD":true:"1.0" }}</td>
            <td>{{ waterfallsdata?.year2withoutpatner | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td>year3</td>
            <td>{{ waterfallsdata?.year3withpatner | currency: "USD":true:"1.0" }}</td>
            <td>{{ waterfallsdata?.year3withoutpatner | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td>EXIT RUN RATE</td>
            <td>{{ waterfallsdata?.runexitwithpatner| currency: "USD":true:"1.0" }}</td>
            <td>{{ waterfallsdata?.runexitwithoutpatner | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td>RUNRATE REDUCTION</td>
            <th>{{ waterfallsdata?.runratewithpatner| currency: "USD":true:"1.0" }}</th>
            <td>{{ waterfallsdata?.runratewithoutpatner | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ 0 }}%</td>
            <td>{{ 0 }}%</td>
        </tr>
        <tr>
            <td>3 YEAR CUMULATIVE SAVINGS</td>
            <th>{{ waterfallsdata?.runratewithoutpatner | currency: "USD":true:"1.0" }}</th>
            <td></td>
        </tr>
    </tbody>
</table>
<button class="" (click)="getData()" mat-raised-button color="primary">
    Get
</button>
