<app-loader *ngIf="isLoaded"></app-loader>
<mat-card>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>TOTAL Savings Model (With fitshoring)</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>RUN RATE</th>
        <th>WITH PARTNER</th>
        <th>WITHOUT PARTNER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Baseline year</td>
        <td>
          {{
            waterfallsdata?.baseyear_with_partner
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td>
          {{
            waterfallsdata?.baseyear_without_partner
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
      <tr>
        <td>year1</td>
        <td>
          {{ waterfallsdata?.year1_with_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{
            waterfallsdata?.year1_without_partner | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
      <tr>
        <td>year2</td>
        <td>
          {{ waterfallsdata?.year2_with_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{
            waterfallsdata?.year2_without_partner | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
      <tr>
        <td>year3</td>
        <td>
          {{ waterfallsdata?.year3_with_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{
            waterfallsdata?.year3_without_partner | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
      <tr>
        <td>EXIT RUN RATE</td>
        <td>
          {{
            waterfallsdata?.exit_runrate_with_partner| currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td>
          {{
            waterfallsdata?.exit_runrate_without_partner
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
      <tr>
        <td>RUNRATE REDUCTION</td>
        <th>
          {{
            waterfallsdata?.runrate_reduc_with_partner | currency: "USD":"symbol":"1.0"
          }}
        </th>
        <td>
          {{
            waterfallsdata?.runrate_reduc_without_partner
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>{{ waterfallsdata?.runrate_perc_with_partner}}%</td>
        <td>{{ waterfallsdata?.runrate_perc_without_partner}}%</td>
      </tr>
      <tr>
        <td>3 YEAR CUMULATIVE SAVINGS</td>
        <th>
          {{
            waterfallsdata?.cumulative_savings_with_partner
              | currency: "USD":"symbol":"1.0"
          }}
        </th>
        <td></td>
      </tr>
    </tbody>
  </table>
  <button class="" (click)="getData()" mat-raised-button color="primary">
    Get
  </button>
</mat-card>
