<mat-tab-group>
  <mat-tab label="Input Table">
    <div class="tab-content">
      <app-input-tabel></app-input-tabel>
    </div>
  </mat-tab>
  <mat-tab label="IT Personnel">
    <div class="tab-content">
      <app-ip-personel></app-ip-personel>
    </div>
  </mat-tab>
  <mat-tab label="IT Personnel Cost">
    <div class="tab-content">
      <app-it-partner></app-it-partner>
    </div>
  </mat-tab>
  <mat-tab label="Cost Of Transformation">
    <div class="tab-content">
      <app-costoftransform></app-costoftransform>
    </div>
  </mat-tab>
  <mat-tab label="Benchmarks">
    <div class="tab-content">
      <benchmarks></benchmarks>
    </div>
  </mat-tab>
  <mat-tab label="IT Run Spend without IT personnel">
    <div class="tab-content">
      <app-it-run-spend></app-it-run-spend>
    </div>
  </mat-tab>
  <mat-tab label="IT Spend On Assets">
    <div class="tab-content">
      <app-it-spend></app-it-spend>
    </div>
  </mat-tab>
  <mat-tab label="IT Spend On Run Personnel">
    <div class="tab-content">
      <app-it-spend-run></app-it-spend-run>
    </div>
  </mat-tab>
  <mat-tab label="IT  Functions">
    <div class="tab-content">
      <it-functions></it-functions>
    </div>
  </mat-tab>
  <mat-tab label="IT Personnel Fit-Shoring">
    <div class="tab-content">
     <app-itpersoneel-fitshoring></app-itpersoneel-fitshoring>
    </div>
  </mat-tab>
</mat-tab-group>
