<mat-tab-group>
  <mat-tab label="IT  Functions">
    <div class="tab-content">
      <it-functions></it-functions>
    </div>
  </mat-tab>
  <mat-tab label="Input Table">
    <div class="tab-content">
      <app-input-tabel></app-input-tabel>
    </div>
  </mat-tab>
  <mat-tab label="It personal">
    <div class="tab-content">
      <app-ip-personel></app-ip-personel>
    </div>
  </mat-tab>
  <mat-tab label="It Partner">
    <div class="tab-content">
      <app-it-partner></app-it-partner>
    </div>
  </mat-tab>
  <mat-tab label="Cost Of Transformation">
    <div class="tab-content">
      <app-costoftransform></app-costoftransform>
    </div>
  </mat-tab>
  <mat-tab label="Benchmarks">
    <div class="tab-content">
      <benchmarks></benchmarks>
    </div>
  </mat-tab>
  <mat-tab label="IT Spend">
    <div class="tab-content">
      <app-it-spend></app-it-spend>
    </div>
  </mat-tab>
</mat-tab-group>
