<mat-tab-group>
  <mat-tab
    label="TOTAL SAVINGS MODEL COMPARISONS WITH & WITHOUT PARTNER (Models 1+2.B)"
  >
    <div class="tab-content">
      <app-savingmodal-b></app-savingmodal-b>
    </div>
  </mat-tab>
  <mat-tab label="RUN OPEX MODEL">
    <div class="tab-content">
      <opex-modal></opex-modal>
    </div>
  </mat-tab>
  <mat-tab
    label="TOTAL SAVINGS MODEL COMPARISONS WITH & WITHOUT PARTNER (Models 1+2.A)"
  >
    <div class="tab-content">
      <app-savingmodel-a></app-savingmodel-a>
    </div>
  </mat-tab>
  <mat-tab label="WATERFALL MODAL">
    <div class="tab-content">
      <app-waterfalls-tabel></app-waterfalls-tabel>
    </div>
  </mat-tab>
</mat-tab-group>
