<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Asset classification</th>
      <th>%split</th>
      <th>Baseline year</th>
      <th>Levers</th>
      <th>Activities</th>
      <th>Year1</th>
      <th>Year2</th>
      <th>Year3</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ inputData.asset }}</td>
      <td>
        {{
          inputData.type === "spendOnRun"
            ? ""
            : calucatedData[calucatedDataKey[1]]
        }}
      </td>
      <td>
        {{
          inputData.type === "spendOnRun"
            ? ""
            : (calucatedData[calucatedDataKey[2]]
              | currency: "USD":"symbol":"1.0")
        }}
      </td>
      <td></td>
      <td>
        {{
          inputData.type === "spendOnRun" ? "" : "Spend increase with inflation"
        }}
      </td>
      <td *ngFor="let activity of activites['activity1']">{{ activity }}</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="">{{ inputData?.asset1 }}</td>
      <td></td>
      <td></td>

      <td>{{ inputData.leverh1 }}</td>
      <td>{{ inputData.activitiesh1 }}</td>
      <td *ngFor="let activity of activites['activity2']">{{ activity }}</td>
      <!-- <td>0%</td>
      <td>0%</td>
      <td>0%</td> -->
      <td>{{ total.total1 }}</td>
    </tr>
    <tr>
      <td colspan="">{{ inputData?.asset2 }}</td>
      <td></td>
      <td></td>
      <!-- <td></td> -->
      <td>{{ inputData.leverh2 }}</td>
      <td>{{ inputData.activitiesh2 }}</td>
      <td *ngFor="let activity of activites['activity3']">{{ activity }}</td>
      <td>{{ total.total2 }}</td>
    </tr>
    <tr>
      <td colspan="3">{{ inputData?.asset3 }}</td>
      <td>{{ inputData.leverh3 }}</td>
      <td>{{ inputData.activitiesh3 }}</td>
      <td *ngFor="let activity of activites['activity4']">{{ activity }}</td>
      <td>{{ total.total3 }}</td>
    </tr>
    <tr>
      <td colspan="3">{{ inputData?.asset4 }}</td>
      <td>{{ inputData.leverh4 }}</td>
      <td>{{ inputData.activitiesh4 }}</td>
      <td *ngFor="let activity of activites['activity5']">{{ activity }}</td>
      <td>{{ total.total4 }}</td>
    </tr>
    <tr>
      <td colspan="4"></td>
      <td>Subtotal</td>
      <td *ngFor="let activity of activites['activity6']">{{ activity }}</td>
      <td>{{ total.total5 }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td *ngFor="let activity of activites['activity7']">{{ activity }}</td>
      <td>{{ total.total6 | currency: "USD":"symbol":"1.0" }}</td>
    </tr>
  </tbody>
</table>
