<mat-card>
  <h1 class="me-2">IT Spend Category</h1>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab *ngFor="let asset of assets" [label]="asset.lable">
      <app-table
        [calucatedData]="asset.claculatedData"
        [inputData]="asset.assetDetail"
      ></app-table>
      <button
        mat-raised-button
        color="primary"
        (click)="handleGet(asset.dailogTitle)"
      >
        Get Levers
      </button>
      <button
        mat-raised-button
        color="primary"
        class="mx-3"
        (click)="openDailog(asset.dailogTitle, 'update')"
      >
        Update Levers
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="openDailog(asset.dailogTitle, 'add')"
      >
        Add Spend Category
      </button>
    </mat-tab>
  </mat-tab-group>
  <table class="table" border="2">
    <tbody>
      <tr>
        <td class="title border">Total IT spends on assets</td>
        <td class="baseline-year border">59,899,125</td>

        <td class="border year">0</td>
        <td class="border year">0</td>
        <td class="border year">0</td>
      </tr>
    </tbody>
  </table>
  <div class="optimzation mt-4">
    <table class="table" border="2">
      <tbody>
        <tr>
          <th>SAVINGS THROUGH OPTIMIZATION LEVERS</th>
          <td *ngFor="let savingoptdatayear of savingoptdatayear">
            {{ savingoptdatayear?.saving_levers | currency: "USD":true:"1.0" }}
          </td>
          <td>
            {{
              savingoptdata?.total_saving_levers | currency: "USD":true:"1.0"
            }}
          </td>
        </tr>
        <tr>
          <th>Cost of Transformation Partner share</th>
          <td *ngFor="let savingoptdatayear of savingoptdatayear">
            {{
              savingoptdatayear?.cot_partner_share | currency: "USD":true:"1.0"
            }}
          </td>
          <td>
            {{ savingoptdata?.total_cot_partner | currency: "USD":true:"1.0" }}
          </td>
        </tr>
        <tr>
          <th>1. TOTAL SAVINGS WITH ASSET ONLY MODEL</th>
          <td *ngFor="let savingoptdatayear of savingoptdatayear">
            {{
              savingoptdatayear?.total_savings_model
                | currency: "USD":true:"1.0"
            }}
          </td>
          <td>
            {{ savingoptdata?.sum_total_savings | currency: "USD":true:"1.0" }}
          </td>
        </tr>
        <tr>
          <th>
            RUN BUSINESS IT ASSET RUN RATE WITH PARTNER (no personnel model)
          </th>
          <td *ngFor="let savingoptdatayear of savingoptdatayear">
            {{ savingoptdatayear?.run_businessit | currency: "USD":true:"1.0" }}
          </td>
          <td>
            {{
              savingoptdata?.total_run_businessit | currency: "USD":true:"1.0"
            }}
          </td>
          <td>
            {{
              savingoptdata?.main_total_run_businessit
                | currency: "USD":true:"1.0"
            }}
          </td>
        </tr>
      </tbody>
    </table>

    <button (click)="optimizationLevrs()" mat-raised-button color="primary">
      Get Optimization Levers
    </button>
  </div>
</mat-card>
