<app-loader *ngIf="isLoaded"></app-loader>

<mat-card>
  <h2>TOTAL SAVINGS MODEL COMPARISONS WITH & WITHOUT PARTNER (Models 1+2.B)</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Asset classificatio</th>
        <th></th>
        <th>Baseline Year $ spend</th>
        <th>Year1</th>
        <th>Year2</th>
        <th>Year3</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HARDWARE/SOFTWARE</td>
        <td>CLIENT SPEND WITHOUT PARTNER</td>
        <td>
          {{ savingmodelbdata?.hardware_software_baseyear | currency: "USD":"symbol":"1.0" }}
        </td>
        <td *ngFor="let savingmodelbdatayear of savingmodelbdatayear">
          {{ savingmodelbdatayear?.hardware_software_client_spend_without_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ savingmodelbdata?.total_hardware_software_client_spend_without_partner| currency: "USD":"symbol":"1.0" }}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>CLIENT SPEND WITH PARTNER</td>
        <td></td>
        <td *ngFor="let savingmodelbdatayear of savingmodelbdatayear">
          {{ savingmodelbdatayear?.hardware_software_client_spend_with_partner| currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ savingmodelbdata?.total_hardware_software_client_spend_with_partner | currency: "USD":"symbol":"1.0" }}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>COST REDUCTION</td>
        <td></td>
        <td *ngFor="let savingmodelbdatayear of savingmodelbdatayear">
          {{ savingmodelbdatayear?.hardware_software_cost_reduction | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ savingmodelbdata?.total_hardware_software_cost_reduction | currency: "USD":"symbol":"1.0" }}
        </td>
      </tr>
      <tr>
        <td>PERSONNEL / OUTSOURCING</td>
  
        <td>CLIENT SPEND WITHOUT PARTNER</td>
        <td>
          {{ savingmodelbdata?.personnel_outsourcing_baseyear | currency: "USD":"symbol":"1.0" }}
        </td>
        <td *ngFor="let savingmodelbdatayear of savingmodelbdatayear">
          {{ savingmodelbdatayear?.personnel_outsourcing_client_spend_without_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ savingmodelbdata?.total_personnel_outsourcing_client_spend_without_partner | currency: "USD":"symbol":"1.0" }}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>CLIENT SPEND WITH PARTNER</td>
        <td></td>
        <td *ngFor="let savingmodeldatayear of savingmodelbdatayear">
          {{ savingmodeldatayear?.personnel_outsourcing_client_spend_with_partner| currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ savingmodelbdata?.total_personnel_outsourcing_client_spend_with_partner | currency: "USD":"symbol":"1.0" }}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>COST REDUCTION</td>
        <td></td>
        <td *ngFor="let savingmodelbdatayear of savingmodelbdatayear">
          {{ savingmodelbdatayear?.personnel_outsourcing_cost_reduction | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ savingmodelbdata?.total_personnel_outsourcing_cost_reduction | currency: "USD":"symbol":"1.0" }}
        </td>
      </tr>
      <tr>
        <td>Totals</td>
        <td>CLIENT SPEND WITHOUT PARTNER</td>
        <td>
          {{ savingmodelbdata?.totals_baseyear| currency: "USD":"symbol":"1.0" }}
        </td>
        <td *ngFor="let savingmodelbdatayear of savingmodelbdatayear">
          {{ savingmodelbdatayear?.totals_client_spend_without_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ savingmodelbdata?.sum_totals_client_spend_without_partner | currency: "USD":"symbol":"1.0" }}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>CLIENT SPEND WITH PARTNER</td>
        <td></td>
        <td *ngFor="let savingmodelbdatayear of savingmodelbdatayear">
          {{ savingmodelbdatayear?.totals_client_spend_with_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ savingmodelbdata?.sum_totals_client_spend_with_partner | currency: "USD":"symbol":"1.0" }}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>COST REDUCTION</td>
        <td></td>
        <td *ngFor="let savingmodelbdatayear of savingmodelbdatayear">
          {{ savingmodelbdatayear?.totals_cost_reduction | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ savingmodelbdata?.totals_cost_reduction | currency: "USD":"symbol":"1.0" }}
        </td>
      </tr>
      <tr>
        <td>CUMULATIVE SAVING</td>
        <td *ngFor="let savingmodelbdatayear of savingmodelbdatayear">
          {{ savingmodelbdatayear?.cumulative_savings | currency: "USD":"symbol":"1.0" }}
        </td>
      </tr>
    </tbody>
  </table>
  <button class="" (click)="getData()" mat-raised-button color="primary">
    Get
  </button>
</mat-card>
<app-charts></app-charts>
