<app-loader *ngIf="isLoaded"></app-loader>

<mat-card>
  <h2>TOTAL SAVINGS MODEL COMPARISONS WITH & WITHOUT PARTNER (Models 1+2.B)</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Asset Classification</th>
        <th></th>
        <th>Baseline Year $ spend</th>
        <th>Year -1</th>
        <th>Year-2</th>
        <th>Year-3</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HARDWARE/SOFTWARE</td>
        <th>CLIENT SPEND WITHOUT PARTNER</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
      <tr>
        <td></td>
        <th>CLIENT SPEND WITH PARTNER</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
      <tr>
        <td></td>
        <th>COST REDUCTION</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>PERSONNEL / OUTSOURCING</td>
        <th>CLIENT SPEND WITHOUT PARTNER</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
      <tr>
        <td></td>
        <th>CLIENT SPEND WITH PARTNER</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
      <tr>
        <td></td>
        <th>COST REDUCTION</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>TOTALS</td>
        <th>CLIENT SPEND WITHOUT PARTNER</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
      <tr>
        <td></td>
        <th>CLIENT SPEND WITH PARTNER</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
      <tr>
        <td></td>
        <th>CUMULATIVE - SAVINGS</th>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
      </tr>
    </tbody>
  </table>
</mat-card>
<app-charts></app-charts>
