/* You can add global styles to this file, and also import other style files */
@import url("./assets/fonts.scss");
@import url("./assets/styles/spacing.scss");
@import url("./assets/styles/texts.scss");
@import url("./assets/styles/utility.scss");

html,
body {
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 3.5px;
}
