<mat-card>
  <div class="mat-card__body">
    <div class="mat-card__body__inputs">
      <mat-form-field appearance="outline" class="">
        <mat-label>Partner CTC (Onsite)</mat-label>
        <input
          autocomplete="off"
          formControlName="itSpend"
          matInput
          placeholder="Annual Revenue"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="">
        <mat-label>Partner CTC (Offshore)</mat-label>
        <input
          autocomplete="off"
          formControlName="itSpend"
          matInput
          placeholder="Annual Revenue"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="">
        <mat-label>Onsite Ratio (to be)</mat-label>
        <input
          autocomplete="off"
          formControlName="itSpend"
          matInput
          placeholder="Annual Revenue"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="">
        <mat-label>Offshore Ratio (to be)</mat-label>
        <input
          autocomplete="off"
          formControlName="itSpend"
          matInput
          placeholder="Annual Revenue"
        />
      </mat-form-field>
    </div>
  </div>
</mat-card>
