<table class="table">
    <thead>
        <tr>
            <th>RUN OPEX MODELING (with outsourcing onsite only)</th>
            <th>BASELINE YEAR</th>
            <th>EOY 1</th>
            <th>EOY 2</th>
            <th>EOY 3</th>
            <th>Total</th>
            <th>CUMULATIVE SAVINGS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CLIENT DRIVES RUN BUSINESS (NO PARTNER)</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td>WITH PARTNER H/W-S/W ASSETS (NO PERSONNEL)</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td>WITH PARTNER PERSONNEL (CLIENT OWNED ASSETS)</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td>TOTAL PARTNER SAVINGS MODEL</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        </tr>
    </tbody>
</table>
<button class="" (click)="getData()" mat-raised-button color="primary">
    Get
</button>
<table class="table">
    <thead>
        <tr>
            <th>RUN OPEX MODELING (with outsourcing onsite only)</th>
            <th>BASELINE YEAR</th>
            <th>EOY 1</th>
            <th>EOY 2</th>
            <th>EOY 3</th>
            <th>Total</th>
            <th>CUMULATIVE SAVINGS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CLIENT DRIVES RUN BUSINESS (NO PARTNER)</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td>WITH PARTNER H/W-S/W ASSETS (NO PERSONNEL)</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td>WITH PARTNER PERSONNEL (CLIENT OWNED ASSETS)</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        </tr>
        <tr>
            <td>TOTAL PARTNER SAVINGS MODEL</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
            <td>{{ 0 | currency: "USD":true:"1.0" }}</td>
        </tr>
    </tbody>
</table>
<button class="" (click)="getData()" mat-raised-button color="primary">
    Get
</button>