<app-loader *ngIf="isLoaded"></app-loader>
<mat-card>
<table class="table">
    <thead>
        <tr>
            <th>RUN OPEX MODELING (with outsourcing onsite only)</th>
            <th>BASELINE YEAR</th>
            <th>EOY 1</th>
            <th>EOY 2</th>
            <th>EOY 3</th>
            <th>Total</th>
            <th>CUMULATIVE SAVINGS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CLIENT DRIVES RUN BUSINESS (NO PARTNER)</td>
            <td>
                {{
                runopexonsitedata?.client_drives_baseyear | currency: "USD":"symbol":"1.0"
                }}
            </td>
            <td *ngFor="let runopexonsitedatayear of runopexonsitedatayear">
                {{ runopexonsitedatayear?.client_drives | currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{ runopexonsitedata?.total_client_drives | currency: "USD":"symbol":"1.0" }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td>WITH PARTNER H/W-S/W ASSETS (NO PERSONNEL)</td>
            <td>
                {{
            runopexonsitedata?.with_partner_hs_baseyear
                | currency: "USD":"symbol":"1.0"
                }}
            </td>
            <td *ngFor="let runopexonsitedatayear of runopexonsitedatayear">
                {{ runopexonsitedatayear?.with_partner_hs | currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{
                runopexonsitedata?.total_with_partner_hs | currency: "USD":"symbol":"1.0"
                }}
            </td>
            <td>
                {{
            runopexonsitedata?.with_partner_hs_cumulative
                | currency: "USD":"symbol":"1.0"
                }}
            </td>
        </tr>
        <tr>
            <td>WITH PARTNER PERSONNEL (CLIENT OWNED ASSETS)</td>
            <td>
                {{
                runopexonsitedata?.with_partner_personnel_baseyear
                | currency: "USD":"symbol":"1.0"
                }}
            </td>
            <td *ngFor="let runopexonsitedatayear of runopexonsitedatayear">
                {{
                runopexonsitedatayear?.with_partner_personnel
                | currency: "USD":"symbol":"1.0"
                }}
            </td>
            <td>
                {{
                runopexonsitedata?.total_with_partner_personnel
                | currency: "USD":"symbol":"1.0"
                }}
            </td>
            <td>
                {{
                runopexonsitedata?.with_partner_personnel_cumulative
                | currency: "USD":"symbol":"1.0"
                }}
            </td>
        </tr>
        <tr>
            <td>TOTAL PARTNER SAVINGS MODEL</td>
            <td>
                {{
                runopexonsitedata?.total_partner_baseyear | currency: "USD":"symbol":"1.0"
                }}
            </td>
            <td *ngFor="let runopexonsitedatayear of runopexonsitedatayear">
                {{ runopexonsitedatayear?.total_partner | currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{ runopexonsitedata?.sum_total_partner | currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{
                runopexonsitedata?.total_partner_cumulative
                | currency: "USD":"symbol":"1.0"
                }}
            </td>
        </tr>
    </tbody>
</table>
<button class="" (click)="getData()" mat-raised-button color="primary">
    Get
</button>
<table class="table">
    <thead>
        <tr>
            <th>RUN OPEX MODELING (with outsourcing onsite only)</th>
            <th>BASELINE YEAR</th>
            <th>EOY 1</th>
            <th>EOY 2</th>
            <th>EOY 3</th>
            <th>Total</th>
            <th>CUMULATIVE SAVINGS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CLIENT DRIVES RUN BUSINESS (NO PARTNER)</td>
            <td>
                {{ runopexdata?.client_drives_baseyear| currency: "USD":"symbol":"1.0" }}
            </td>
            <td *ngFor="let runopexdatayear of runopexdatayear">
                {{ runopexdatayear?.client_drives| currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_client_drives | currency: "USD":"symbol":"1.0" }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td>WITH PARTNER H/W-S/W ASSETS (NO PERSONNEL)</td>
            <td>
                {{ runopexdata?.with_partner_hs_baseyear | currency: "USD":"symbol":"1.0" }}
            </td>
            <td *ngFor="let runopexdatayear of runopexdatayear">
                {{ runopexdatayear?.with_partner_hs| currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_with_partner_hs | currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{ runopexdata?.with_partner_hs_cumulative_perc | currency: "USD":"symbol":"1.0" }}
            </td>
        </tr>
        <tr>
            <td>WITH PARTNER PERSONNEL (CLIENT OWNED ASSETS)</td>
            <td>
                {{ runopexdata?.with_partner_personnel_baseyear| currency: "USD":"symbol":"1.0" }}
            </td>
            <td *ngFor="let runopexdatayear of runopexdatayear">
                {{ runopexdatayear?.with_partner_personnel| currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_with_partner_personnel| currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{ runopexdata?.with_partner_personnel_cumulative | currency: "USD":"symbol":"1.0" }}
            </td>
        </tr>
        <tr>
            <td>TOTAL PARTNER SAVINGS MODEL</td>
            <td>
                {{ runopexdata?.total_partner_baseyear| currency: "USD":"symbol":"1.0" }}
            </td>
            <td *ngFor="let runopexdatayear of runopexdatayear">
                {{ runopexdatayear?.total_partner| currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{ runopexdata?.sum_total_partner| currency: "USD":"symbol":"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_partner_cumulative_perc | currency: "USD":"symbol":"1.0" }}
            </td>
        </tr>
    </tbody>
</table>
<button class="" (click)="getdata()" mat-raised-button color="primary">
    Get
</button>
</mat-card>