<table class="table">
    <thead>
        <tr>
            <th>RUN OPEX MODELING (with outsourcing onsite only)</th>
            <th>BASELINE YEAR</th>
            <th>EOY 1</th>
            <th>EOY 2</th>
            <th>EOY 3</th>
            <th>Total</th>
            <th>CUMULATIVE SAVINGS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CLIENT DRIVES RUN BUSINESS (NO PARTNER)</td>
            <td>
                {{ runopexonsitedata?.baseline_year_runbuss_onsite | currency: "USD":true:"1.0" }}
            </td>
            <td *ngFor="let runopexonsitedatayear of runopexonsitedatayear">
                {{ runopexonsitedatayear?.runbuss_onsite| currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexonsitedata?.total_runbus_onsite | currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexonsitedata?.total_saving_onsite| currency: "USD":true:"1.0" }}
            </td>
        </tr>
        <tr>
            <td>WITH PARTNER H/W-S/W ASSETS (NO PERSONNEL)</td>
            <td>
                {{ runopexonsitedata?.baseline_year_asset_onsite | currency: "USD":true:"1.0" }}
            </td>
            <td *ngFor="let runopexonsitedatayear of runopexonsitedatayear">
                {{ runopexonsitedatayear?.runbuss_onsite| currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexonsitedata?.total_asset_onsite | currency: "USD":true:"1.0" }}
                </td>
                <td>
                    {{ runopexonsitedata?.total_saving_onsite| currency: "USD":true:"1.0" }}
                </td>
        </tr>
        <tr>
            <td>WITH PARTNER PERSONNEL (CLIENT OWNED ASSETS)</td>
            <td>
                {{ runopexonsitedata?.baseline_year_per_onsite | currency: "USD":true:"1.0" }}
            </td>
            <td *ngFor="let runopexonsitedatayear of runopexonsitedatayear">
                {{ runopexonsitedatayear?.per_onsite| currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexonsitedata?.total_per_onsite| currency: "USD":true:"1.0" }}
                </td>
                <td>
                    {{ runopexonsitedata?.total_saving_onsite| currency: "USD":true:"1.0" }}
                </td>
        </tr>
        <tr>
            <td>TOTAL PARTNER SAVINGS MODEL</td>
            <td>
                {{ runopexonsitedata?.baseline_year_saving_onsite | currency: "USD":true:"1.0" }}
            </td>
            <td *ngFor="let runopexonsitedatayear of runopexonsitedatayear">
                {{ runopexonsitedatayear?.saving_onsite| currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexonsitedata?.total_saving_onsite| currency: "USD":true:"1.0" }}
                </td>
                <td>
                    {{ runopexonsitedata?.total_saving_onsite| currency: "USD":true:"1.0" }}
                </td>
        </tr>
    </tbody>
</table>
<button class="" (click)="getData()" mat-raised-button color="primary">
    Get
</button>
<table class="table">
    <thead>
        <tr>
            <th>RUN OPEX MODELING (with outsourcing onsite only)</th>
            <th>BASELINE YEAR</th>
            <th>EOY 1</th>
            <th>EOY 2</th>
            <th>EOY 3</th>
            <th>Total</th>
            <th>CUMULATIVE SAVINGS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CLIENT DRIVES RUN BUSINESS (NO PARTNER)</td>
            <td>
                {{ runopexdata?.baseline_year_runbuss| currency: "USD":true:"1.0" }}
            </td>
            <td *ngFor="let runopexdatayear of runopexdatayear">
                {{ runopexdatayear?.runbuss| currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_runbus | currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_runbus | currency: "USD":true:"1.0" }}
            </td>
        </tr>
        <tr>
            <td>WITH PARTNER H/W-S/W ASSETS (NO PERSONNEL)</td>
            <td>
                {{ runopexdata?.baseline_year_runbuss | currency: "USD":true:"1.0" }}
            </td>
            <td *ngFor="let runopexdatayear of runopexdatayear">
                {{ runopexdatayear?.runbuss| currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_runbus | currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_runbus | currency: "USD":true:"1.0" }}
            </td>
        </tr>
        <tr>
            <td>WITH PARTNER PERSONNEL (CLIENT OWNED ASSETS)</td>
            <td>
                {{ runopexdata?.baseline_year_runbuss| currency: "USD":true:"1.0" }}
            </td>
            <td *ngFor="let runopexdatayear of runopexdatayear">
                {{ runopexdatayear?.runbuss| currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_runbus| currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_runbus | currency: "USD":true:"1.0" }}
            </td>
        </tr>
        <tr>
            <td>TOTAL PARTNER SAVINGS MODEL</td>
            <td>
                {{ runopexdata?.baseline_year_runbuss | currency: "USD":true:"1.0" }}
            </td>
            <td *ngFor="let runopexdatayear of runopexdatayear">
                {{ runopexdatayear?.runbuss| currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_runbus| currency: "USD":true:"1.0" }}
            </td>
            <td>
                {{ runopexdata?.total_runbus | currency: "USD":true:"1.0" }}
            </td>
        </tr>
    </tbody>
</table>
<button class="" (click)="getdata()" mat-raised-button color="primary">
    Get
</button>