<app-loader *ngIf="isLoaded"></app-loader>

<mat-card>
  <div class="header">
    <h2>Run Opex Modelling (with fitshoring)</h2>
    <button (click)="openDailog()" mat-button color="primary">View Chart</button>
  </div>
  <table  class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Run Opex Modelling (with fitshoring)</th>
        <th>Baseline Year</th>
        <th>EOY-1</th>
        <th>EOY-2</th>
        <th>EOY-3</th>
        <th>Total</th>
        <th>Cumulative Saving</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Client Driver Run Bussiness (NO PARTNER)</td>
        <td>
          {{
            runopexfitdata?.client_drives_baseyear | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td *ngFor="let runopexfitdatayear of runopexfitdatayear">
          {{ runopexfitdatayear?.client_drives | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ runopexfitdata?.total_client_drives | currency: "USD":"symbol":"1.0" }}
        </td>
        <td></td>
      </tr>
      <tr>
        <td>WITH PARTNER H/W-S/W ASSETS (NO PERSONNEL)</td>
        <td>
          {{
            runopexfitdata?.with_partner_hs_baseyear
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td *ngFor="let runopexfitdatayear of runopexfitdatayear">
          {{ runopexfitdatayear?.with_partner_hs | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{
            runopexfitdata?.total_with_partner_hs | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td>
          {{
            runopexfitdata?.with_partner_hs_cumulative
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
      <tr>
        <td>With Partner Personnel (CLIENT OWNED ASSETS)</td>
        <td>
          {{
            runopexfitdata?.with_partner_personnel_baseyear
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td *ngFor="let runopexfitdatayear of runopexfitdatayear">
          {{
            runopexfitdatayear?.with_partner_personnel
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td>
          {{
            runopexfitdata?.total_with_partner_personnel
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td>
          {{
            runopexfitdata?.with_partner_personnel_cumulative
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
      <tr>
        <td>Total Partner Savings Model</td>
        <td>
          {{
            runopexfitdata?.total_partner_baseyear | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td *ngFor="let runopexfitdatayear of runopexfitdatayear">
          {{ runopexfitdatayear?.total_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ runopexfitdata?.sum_total_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{
            runopexfitdata?.total_partner_cumulative
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <button class="" (click)="getData()" mat-raised-button color="primary">
    Get
  </button> -->
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Run Opex Modelling (without fitshoring)</th>
        <th>Baseline Year</th>
        <th>EOY-1</th>
        <th>EOY-2</th>
        <th>EOY-3</th>
        <th>Total</th>
        <th>Cumulative Savings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Client Drives Run Business (NO PARTNER)</td>
        <td>
          {{ runopexdata?.client_drives_baseyear | currency: "USD":"symbol":"1.0" }}
        </td>
        <td *ngFor="let runopexdatayear of runopexdatayear">
          {{ runopexdatayear?.client_drives | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ runopexdata?.total_client_drives | currency: "USD":"symbol":"1.0" }}
        </td>
        <td></td>
      </tr>
      <tr>
        <td>With Partner H/W-S/W Assets (NO PERSONNEL)</td>
        <td>
          {{
            runopexdata?.with_partner_hs_baseyear | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td *ngFor="let runopexdatayear of runopexdatayear">
          {{ runopexdatayear?.with_partner_hs | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ runopexdata?.total_with_partner_hs | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{
            runopexdata?.with_partner_hs_cumulative | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
      <tr>
        <td>With Partner Personnel (CLIENT OWNED ASSETS)</td>
        <td>
          {{
            runopexdata?.with_partner_personnel_baseyear
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td *ngFor="let runopexdatayear of runopexdatayear">
          {{
            runopexdatayear?.with_partner_personnel | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td>
          {{
            runopexdata?.total_with_partner_personnel
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
        <td>
          {{
            runopexdata?.with_partner_personnel_cumulative
              | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
      <tr>
        <td>Total Partner Savings Model</td>
        <td>
          {{ runopexdata?.total_partner_baseyear | currency: "USD":"symbol":"1.0" }}
        </td>
        <td *ngFor="let runopexdatayear of runopexdatayear">
          {{ runopexdatayear?.total_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{ runopexdata?.sum_total_partner | currency: "USD":"symbol":"1.0" }}
        </td>
        <td>
          {{
            runopexdata?.total_partner_cumulative | currency: "USD":"symbol":"1.0"
          }}
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <button class="" (click)="getdata()" mat-raised-button color="primary">
    Get
  </button> -->
</mat-card>
