<app-loader *ngIf="isLoaded"></app-loader>

<mat-card>
  <h2>RUN OPEX MODELING (with fitshoring)</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>RUN OPEX MODELING (with fitshoring)</th>
        <th>BASELINE YEAR</th>
        <th>EOY-1</th>
        <th>EOY-2</th>
        <th>EOY-3</th>
        <th>TOTAL</th>
        <th>CUMULATIVE SAVINGS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CLIENT DRIVES RUN BUSINESS (NO PARTNER)</td>
        <td>
          {{ runopexfitdata?.client_drives_baseyear | currency: "USD":true:"1.0" }}
        </td>
        <td *ngFor="let runopexfitdatayear of runopexfitdatayear">
          {{ runopexfitdatayear?.client_drives| currency: "USD":true:"1.0" }}
        </td>
        <td>
          {{ runopexfitdata?.total_client_drives | currency: "USD":true:"1.0" }}
        </td>
        <td></td>
      </tr>
      <tr>
        <td>WITH PARTNER H/W-S/W ASSETS (NO PERSONNEL)</td>
        <td>
          {{runopexfitdata?.with_partner_hs_baseyear | currency: "USD":true:"1.0" }}
        </td>
        <td *ngFor="let runopexfitdatayear of runopexfitdatayear">
          {{ runopexfitdatayear?.with_partner_hs | currency: "USD":true:"1.0" }}
        </td>
        <td>
          {{ runopexfitdata?.total_with_partner_hs | currency: "USD":true:"1.0" }}
        </td>
        <td>
          {{ runopexfitdata?.with_partner_hs_cumulative | currency: "USD":true:"1.0" }}
        </td>
      </tr>
      <tr>
        <td>WITH PARTNER PERSONNEL (CLIENT OWNED ASSETS)</td>
        <td>
          {{ runopexfitdata?.with_partner_personnel_baseyear | currency: "USD":true:"1.0" }}
        </td>
        <td *ngFor="let runopexfitdatayear of runopexfitdatayear">
          {{ runopexfitdatayear?.with_partner_personnel| currency: "USD":true:"1.0" }}
        </td>
        <td>
          {{ runopexfitdata?.total_with_partner_personnel | currency: "USD":true:"1.0" }}
        </td>
        <td>
          {{ runopexfitdata?.with_partner_personnel_cumulative | currency: "USD":true:"1.0" }}
        </td>
      </tr>
      <tr>
        <td>TOTAL PARTNER SAVINGS MODEL</td>
        <td>
          {{ runopexfitdata?.total_partner_baseyear | currency: "USD":true:"1.0" }}
        </td>
        <td *ngFor="let runopexfitdatayear of runopexfitdatayear">
          {{ runopexfitdatayear?.total_partner | currency: "USD":true:"1.0" }}
        </td>
        <td>
          {{ runopexfitdata?.sum_total_partner | currency: "USD":true:"1.0" }}
        </td>
        <td>
          {{ runopexfitdata?.total_partner_cumulative | currency: "USD":true:"1.0" }}
        </td>
      </tr>
    </tbody>
  </table>
  <button class="" (click)="getData()" mat-raised-button color="primary">
    Get
  </button>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>RUN OPEX MODELING (without fitshoring)</th>
        <th>BASELINE YEAR</th>
        <th>EOY-1</th>
        <th>EOY-2</th>
        <th>EOY-3</th>
        <th>TOTAL</th>
        <th>CUMULATIVE SAVINGS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CLIENT DRIVES RUN BUSINESS (NO PARTNER)</td>
        <td>
          {{ runopexdata?.client_drives_baseyear | currency: "USD":true:"1.0" }}
        </td>
        <td *ngFor="let runopexdatayear of runopexdatayear">
          {{ runopexdatayear?.client_drives| currency: "USD":true:"1.0" }}
        </td>
        <td>
          {{ runopexdata?.total_client_drives | currency: "USD":true:"1.0" }}
        </td>
        <td></td>
      </tr>
      <tr>
        <td>WITH PARTNER H/W-S/W ASSETS (NO PERSONNEL)</td>
        <td>
          {{ runopexdata?.with_partner_hs_baseyear | currency: "USD":true:"1.0" }}
        </td>
        <td *ngFor="let runopexdatayear of runopexdatayear">
          {{ runopexdatayear?.with_partner_hs| currency: "USD":true:"1.0" }}
        </td>
        <td>
          {{ runopexdata?.total_with_partner_hs | currency: "USD":true:"1.0" }}
        </td>
        <td>
          {{ runopexdata?.with_partner_hs_cumulative | currency: "USD":true:"1.0" }}
        </td>
      </tr>
      <tr>
        <td>WITH PARTNER PERSONNEL (CLIENT OWNED ASSETS)</td>
      <td>
        {{ runopexdata?.with_partner_personnel_baseyear | currency: "USD":true:"1.0" }}
      </td>
      <td *ngFor="let runopexdatayear of runopexdatayear">
        {{ runopexdatayear?.with_partner_personnel| currency: "USD":true:"1.0" }}
      </td>
      <td>
        {{ runopexdata?.total_with_partner_personnel | currency: "USD":true:"1.0" }}
      </td>
    <td>
      {{ runopexdata?.with_partner_personnel_cumulative | currency: "USD":true:"1.0" }}
    </td>
      </tr>
      <tr>
        <td>TOTAL PARTNER SAVINGS MODEL</td>
      <td>
        {{ runopexdata?.total_partner_baseyear| currency: "USD":true:"1.0" }}
      </td>
      <td *ngFor="let runopexdatayear of runopexdatayear">
        {{ runopexdatayear?.total_partner| currency: "USD":true:"1.0" }}
      </td>
      <td>
        {{ runopexdata?.sum_total_partner | currency: "USD":true:"1.0" }}
      </td>
      <td>
        {{ runopexdata?.total_partner_cumulative | currency: "USD":true:"1.0" }}
      </td>
      </tr>
    </tbody>
  </table>
  <app-line-chart></app-line-chart>
</mat-card>
