<div class="stepper">
  <mat-stepper orientation="vertical" #stepper>
    <mat-step>
      <form [formGroup]="userDetails">
        <ng-template matStepLabel>Fill out your name and Id</ng-template>
        <div class="form-fields d-flex flex-column">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>User Id</mat-label>
            <input
              matInput
              placeholder="User ID"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="projectDetails">
        <ng-template matStepLabel>Fill out project details</ng-template>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field> -->
        <div class="btns container__column--center">
          <button
            (click)="handleNewProject()"
            matStepperNext
            mat-raised-button
            color="primary"
          >
            New Project
          </button>
          <button
            (click)="getExtstingProject()"
            mat-raised-button
            color="primary"
            class="my-3"
            matStepperNext
          >
            Existing Project
          </button>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <!-- <button mat-button matStepperNext>Next</button> -->
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="projectDetails">
        <ng-template matStepLabel>Fill out project details</ng-template>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field> -->
        <div class="btns container__column--center">
          <div *ngIf="projectType === 'existing'" class="existing-project">
            Is me existing
          </div>
          <div *ngIf="projectType === 'new'" class="new-project">Is me New</div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
