<mat-toolbar *ngIf="pathName !== '/pathfinder'" class="mat-elevation-z2">
  <a
    class="logo"
    href=""
    routerLinkActive="router-active"
    routerLink="/pathfinder"
    >Pathfinder</a
  >

  <a
    routerLink="costOptimization"
    routerLinkActive="router-active"
    class="ms-auto"
    href=""
    >Cost Optimization</a
  >
  <a
    routerLink="/modalOptions"
    routerLinkActive="router-active"
    class="ms-3"
    href=""
    >Modal Options</a
  >
</mat-toolbar>
<router-outlet></router-outlet>
