mat-toolbar {
  //   padding: 10px !important;
  height: 50px !important;
  background-color: white !important;
  // margin-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    position: relative;
  }
}
.router-active {
  color: #673ab7 !important;
  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #673ab7;
    height: 2px;
  }
}
a::before {
  content: " ";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: #673ab7;
  height: 2px;
  transition: all 0.5s ease-in-out;
}

a:hover::before {
  width: 100%;
}
.project-name {
  color: rgb(180, 180, 180);
  font-size: 1.25rem;
  margin-top: 10px;
  letter-spacing: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
