<mat-card>
  <form
    [formGroup]="itFunctions"
    action=""
    (ngSubmit)="itFunctions.valid && handleSubmit()"
  >
    <div class="result-tabel">
      <table class="table" cellspacing="" cellpadding="0">
        <tbody>
          <tr>
            <th>IT FUNCTIONS(RUN BUSINESS)</th>
            <th class="text-center">IT SPEND RUN</th>
            <th class="text-center">IT SPEND RUN</th>
            <th class="text-center">FTE SPREAD</th>
            <th class="text-center">FTE SPREAD</th>
          </tr>
          <!--1. Data Center -->
          <tr class="data__center">
            <th>Data Center</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>IT SPEND RUN </mat-label>
                <input
                  autocomplete="off"
                  formControlName="data_center_itspend_run_perc"
                  matInput
                  placeholder="It Spend run %"
                />
                <mat-error>Data center IT spend is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              $ {{ itFunctionsData?.data_center_itspend_run_value }}
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>FTE SPREAD</mat-label>
                <input
                  autocomplete="off"
                  formControlName="data_center_fte_spread_perc"
                  matInput
                  placeholder="FTE Spread run %"
                />
                <mat-error>Data center fte spread is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              $ {{ itFunctionsData?.data_center_fte_spread_value }}
            </td>
          </tr>
          <!-- Data Center End -->

          <!-- End User Computing  Starts -->
          <tr class="end__user__computing">
            <th>End User Computing</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>IT SPEND RUN </mat-label>
                <input
                  autocomplete="off"
                  formControlName="end_user_computing_itspend_run_perc"
                  matInput
                  placeholder="It Spend run %"
                />
                <mat-error>End user computing is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              $ {{ itFunctionsData?.end_user_computing_itspend_run_value }}
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>FTE SPREAD </mat-label>
                <input
                  autocomplete="off"
                  formControlName="end_user_computing_fte_spread_perc"
                  matInput
                  placeholder="FTE Spread run %"
                />
                <mat-error>End user computing is required</mat-error>
              </mat-form-field>
            </td>
            {{
              itFunctionsData?.end_user_computing_fte_spread_value
            }}
            <td class="text-center">$</td>
          </tr>
          <!-- End User Computing Ends -->

          <!-- IT Service Desk Starts -->
          <tr class="it__service__desk">
            <th>IT Service Desk</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>IT SPEND RUN </mat-label>
                <input
                  autocomplete="off"
                  formControlName="it_service_desk_itspend_run_perc"
                  matInput
                  placeholder="It Spend run %"
                />
                <mat-error>IT service desk is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              {{ itFunctionsData?.it_service_desk_itspend_run_value }}
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>FTE SPREAD</mat-label>
                <input
                  autocomplete="off"
                  formControlName="it_service_desk_fte_spread_perc"
                  matInput
                  placeholder="FTE Spread run %"
                />
                <mat-error>IT service desk is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              {{ itFunctionsData?.it_service_desk_fte_spread_value }}
            </td>
          </tr>
          <!-- IT Service Desk Ends -->
          <!-- Network Starts -->

          <tr class="network">
            <th>Network</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>IT SPEND RUN </mat-label>
                <input
                  autocomplete="off"
                  formControlName="network_itspend_run_perc"
                  matInput
                  placeholder="It Spend run %"
                />
                <mat-error>Network itspend is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              {{ itFunctionsData?.network_itspend_run_value }}
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>FTE SPREAD</mat-label>
                <input
                  autocomplete="off"
                  formControlName="network_fte_spread_perc"
                  matInput
                  placeholder="FTE Spread run %"
                />
                <mat-error>Network itspend is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              {{ itFunctionsData?.network_fte_spread_value }}
            </td>
          </tr>
          <!-- Network Ends -->

          <!-- Application Enhancements Starts -->
          <tr class="application__enhancements">
            <th>Application Enhancements</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>IT SPEND RUN </mat-label>
                <input
                  autocomplete="off"
                  formControlName="application_enhance_itspend_run_perc"
                  matInput
                  placeholder="It Spend run %"
                />
                <mat-error>Application enchance is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              {{ itFunctionsData?.application_enhance_itspend_run_value }}
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>FTE SPREAD</mat-label>
                <input
                  autocomplete="off"
                  formControlName="application_enhance_fte_spread_perc"
                  matInput
                  placeholder="FTE Spread run %"
                />
                <mat-error>Application enchance is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              {{ itFunctionsData?.application_enhance_fte_spread_value }}
            </td>
          </tr>
          <!-- Application Enhancements Ends -->

          <!-- Application Support Starts -->
          <tr class="application__support">
            <th>Application Support</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>IT SPEND RUN </mat-label>
                <input
                  autocomplete="off"
                  formControlName="application_support_itspend_run_perc"
                  matInput
                  placeholder="It Spend run %"
                />
                <mat-error>Application support is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              {{ itFunctionsData?.application_support_itspend_run_value }}
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>FTE SPREAD</mat-label>
                <input
                  autocomplete="off"
                  formControlName="application_support_fte_spread_perc"
                  matInput
                  placeholder="FTE Spread run %"
                />
                <mat-error>Application support is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              {{ itFunctionsData?.application_support_fte_spread_value }}
            </td>
          </tr>
          <!-- Application Support Ends -->

          <!-- IT Mgmt, Finance & Admin Starts -->
          <tr class="it__mgmt__finance__admin">
            <th>IT Mgmt, Finance & Admin</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>IT SPEND RUN </mat-label>
                <input
                  autocomplete="off"
                  formControlName="it_management_itspend_run_perc"
                  matInput
                  placeholder="It Spend run %"
                />
                <mat-error>IT management is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              {{ itFunctionsData?.it_management_itspend_run_value }}
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>FTE SPREAD</mat-label>
                <input
                  autocomplete="off"
                  formControlName="it_management_fte_spread_perc"
                  matInput
                  placeholder="FTE Spread run %"
                />
                <mat-error>IT management is required</mat-error>
              </mat-form-field>
            </td>
            <td class="text-center">
              {{ itFunctionsData?.it_management_fte_spread_value }}
            </td>
          </tr>
          <!-- IT Mgmt, Finance & Admin Ends -->
          <tr>
            <th>Total</th>
            <td></td>
            <td>{{ itFunctionsData?.total_itspend_run_value }}</td>
            <td></td>
            <td>{{ itFunctionsData?.total_fte_spread_value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-action d-flex justify-content-end">
      <button mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</mat-card>
