.mat-card__body__inputs {
  display: flex;
  gap: 10px;
}
mat-form-field {
  width: 100%;
}
.year__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 230px;
  margin-left: 200px;
}
tr td,
th {
  border: 1px solid lightgray;
}
.form__action {
  margin-top: 10px;
  // margin-left: 10px;
}
.mat-card__body__inputs {
  display: flex;
  gap: 10px;
  mat-form-field {
    margin-left: 10px;
  }
}
