<app-loader *ngIf="isLoaded"></app-loader>
<mat-card>
  <form
    [formGroup]="itpersonelcost"
    action=""
    (ngSubmit)="itpersonelcost.valid && handleSubmit()"
  >
    <div class="header">
      <h2>IT -Personnel Cost(Partner)</h2>
      <button
        type="button"
        color="primary"
        (click)="core.openChartsDailog()"
        mat-button
      >
        View Chart
      </button>
    </div>
    <div class="mat-card__body">
      <div class="mat-card__body__inputs">
        <mat-form-field appearance="outline" class="">
          <mat-label>Partner CTC (Onsite)</mat-label>
          <input
            autocomplete="off"
            matInput
            placeholder="Annual Revenue"
            formControlName="partnerCtcOnsite"
          />
          <mat-error>Partner CTC (Onsite) is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="">
          <mat-label>Partner CTC (Offshore)</mat-label>
          <input
            autocomplete="off"
            formControlName="partnerCtcOffshore"
            matInput
            placeholder="Annual Revenue"
          />
          <mat-error>Partner CTC (Offshore) is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="">
          <mat-label>Onsite Ratio (to be)</mat-label>
          <input
            autocomplete="off"
            formControlName="onsitRatio"
            matInput
            placeholder="Annual Revenue"
          />
          <mat-error>Onsite Ratio (to be) is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="">
          <mat-label>Offshore Ratio (to be)</mat-label>
          <input
            autocomplete="off"
            formControlName="offshoreRatio"
            matInput
            placeholder="Annual Revenue"
          />
          <mat-error>Offshore Ratio (to be) is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="result-tabel">
      <table class="table" cellspacing="0" cellpadding="0">
        <tbody>
          <!-- <tr  >
            <th>Year-1</th>
            <th>Year-2</th>
            <th >Year-3</th>
          </tr> -->

          <!-- Outsourcing starts -->
          <tr>
            <th>OutSourcing</th>
            <th class="text-center">Year 1</th>
            <th class="text-center">Year 2</th>
            <th class="text-center">Year 3</th>
          </tr>
          <tr class="Outsourcing">
            <th>Take over plan</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Take over plan</mat-label>
                <input
                  autocomplete="off"
                  formControlName="takeOverPlany1"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error>Take over plan is required.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Take over plan</mat-label>
                <input
                  autocomplete="off"
                  formControlName="takeOverPlany2"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error>Take over plan is required.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Take over plan</mat-label>
                <input
                  autocomplete="off"
                  formControlName="takeOverPlany3"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error>Take over plan is required.</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>In FTEs -Cumulative</th>
            <td *ngFor="let detail of outsourcings?.infteCumulative">
              {{ detail }}
            </td>
          </tr>
          <!-- Outsourcing ends -->

          <!-- Partner Productivity starts -->

          <tr></tr>
          <tr class="Outsourcing">
            <th>Partner Productivity Improvement (In FTE %)</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label
                  >Partner Productivity Improvement (In FTE %)</mat-label
                >
                <input
                  autocomplete="off"
                  formControlName="ppImprovementy1"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error
                  >Partner Productivity Improvement (In FTE %) is
                  required.</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label
                  >Partner Productivity Improvement (In FTE %)</mat-label
                >
                <input
                  autocomplete="off"
                  formControlName="ppImprovementy2"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error
                  >Partner Productivity Improvement (In FTE %) is
                  required.</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label
                  >Partner Productivity Improvement (In FTE %)</mat-label
                >
                <input
                  autocomplete="off"
                  formControlName="ppImprovementy3"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error
                  >Partner Productivity Improvement (In FTE %) is
                  required.</mat-error
                >
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>In FTEs savings cumulative</th>
            <td *ngFor="let detail of outsourcings?.fteSavingsCumulative">
              {{ detail }}
            </td>
          </tr>
          <!-- Partner Productivity ends -->
          <tr>
            <th>Net Partner FTEs</th>
            <th *ngFor="let detail of outsourcings?.netPartnerFte">
              {{ detail }}
            </th>
          </tr>
          <tr class="Outsourcing">
            <th>Onsite ratio</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Onsite ratio</mat-label>
                <input
                  autocomplete="off"
                  formControlName="onsiteRatioy1"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error>Onsite ratio is required.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Onsite ratio</mat-label>
                <input
                  autocomplete="off"
                  formControlName="onsiteRatioy2"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error>Onsite ratio is required.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Onsite ratio</mat-label>
                <input
                  autocomplete="off"
                  formControlName="onsiteRatioy3"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error>Onsite ratio is required.</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>In FTEs</th>
            <td *ngFor="let detail of outsourcings?.inFteOnsite">
              {{ detail }}
            </td>
          </tr>
          <tr class="Outsourcing">
            <th>Offshore Ratio</th>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Offshore Ratio</mat-label>
                <input
                  autocomplete="off"
                  formControlName="offshoreRatioy1"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error>Offshore is required.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Offshore Ratio</mat-label>
                <input
                  autocomplete="off"
                  formControlName="offshoreRatioy2"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error>Offshore is required.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Offshore Ratio</mat-label>
                <input
                  autocomplete="off"
                  formControlName="offshoreRatioy3"
                  matInput
                  placeholder="Year -1"
                />
                <mat-error>Offshore is required.</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>In FTEs</th>
            <td *ngFor="let detail of outsourcings?.inFteOffshore">
              {{ detail }}
            </td>
          </tr>
          <!-- <tr>
            <th rowspan="4">
              <br />
              Outsourcing <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              Partner Productivity Improvement (In FTE %) <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              Net Partner FTEs
              <br />
              <br />
              <br />
              <br />
              <br />
              Net Partner FTEs
            </th>

            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Outsourcing</mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year -1"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Outsourcing</mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year -2"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Outsourcing</mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year-3"
                />
              </mat-form-field>
            </td>
          </tr> -->
          <!-- Outsourcing -->

          <!-- Partner Productivity Improvement (In FTE %)        -->
          <!-- <tr>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Partner Productivity Improvement (In FTE %)</mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year-1"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Partner Productivity Improvement (In FTE %)</mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year-2"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Partner Productivity Improvement (In FTE %)</mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year-3"
                />
              </mat-form-field>
            </td>
          </tr> -->
          <!-- Partner Productivity Improvement (In FTE %) -->

          <!-- Net Partner FTEs -->
          <!-- <tr>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Net Partner FTEs</mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year-1"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Net Partner FTEs</mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year-2"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Net Partner FTEs</mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year-3"
                />
              </mat-form-field>
            </td>
          </tr> -->
          <!-- Net Partner FTEs -->

          <!-- Offshore Ratio  -->
          <!-- <tr>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Offshore Ratio </mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year-1"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Offshore Ratio </mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year-2"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="">
                <mat-label>Offshore Ratio </mat-label>
                <input
                  autocomplete="off"
                  formControlName="itSpend"
                  matInput
                  placeholder="Year-3"
                />
              </mat-form-field>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="form__action d-flex">
      <button
        mat-raised-button
        color="primary"
        (click)="handleGet()"
        type="button"
      >
        Get
      </button>
      <button
        [disabled]="!canUpdate"
        (click)="handleUpdate()"
        mat-raised-button
        color="primary"
        class="mx-3"
        type="button"
      >
        Update
      </button>
      <button mat-raised-button color="primary" type="submit">Add</button>
    </div>
  </form>
</mat-card>
