<app-loader *ngIf="isLoaded"></app-loader>

<mat-card>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Asset classificatio</th>
        <th>Baseline year</th>
        <th>Spend additions</th>
        <th>Year1</th>
        <th>Year2</th>
        <th>Year3</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of runSpendDetails">
        <th *ngIf="detail.baseline">IT Spend with Inflation</th>
        <th *ngIf="detail.baseline">{{ detail.baseline }}</th>
        <th *ngIf="!detail.baseline" colspan="2"></th>
        <th>$ {{ detail.title }}</th>
        <td>$ {{ detail.year1 }}</td>
        <td>$ {{ detail.year2 }}</td>
        <td>$ {{ detail.year3 }}</td>
        <td>$ {{ detail.total }}</td>
      </tr>
    </tbody>
  </table>

  <!-- <button color="primary" (click)="handleClick()" mat-raised-button>
    Get It Run Spend
  </button> -->
</mat-card>
