<mat-card>
    <table class="table">
        <thead>
            <tr>
                <th>Asset classificatio</th>
                <th>Baseline year</th>
                <th>Spend additions</th>
                <th>Year1</th>
                <th>Year2</th>
                <th>Year3</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>IT RUN Spend WITHOUT IT Personnel</th>
                <td>$546637387383</td>
                <th>IT Spend with Inflation</th>
                <td>$546637387383</td>
                <td>$546637387383</td>
                <td>$546637387383</td>
                <td>$546637387383</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <th>Cost of Transformation Client Share</th>
                <td>$546637387383</td>
                <td>$546637387383</td>
                <td>$546637387383</td>
                <td>$546637387383</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <th>Yearly run rate</th>
                <td>$546637387383</td>
                <td>$546637387383</td>
                <td>$546637387383</td>
                <td>$546637387383</td>
            </tr>
        </tbody>
    </table>
</mat-card>
