<mat-card>
    <form [formGroup]="COT" action="" (ngSubmit)="COT.valid && handleSubmit()">
        <div class="d-flex">
            <div>
                <h1>Cost of Transformation</h1>
            </div>
        </div>
        <div class="inputs d-flex">
            <mat-form-field appearance="outline" class="p-2">
                <mat-label>COT%</mat-label>
                <input autocomplete="off" formControlName="cot" matInput placeholder="COT%" />
                <mat-error>cost of transform is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="p-2">
                <mat-label>Client Share</mat-label>
                <input autocomplete="off" formControlName="clientshare" matInput placeholder="Client Share" />
                <mat-error>Client Share is required </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="p-2">
                <mat-label>Partner/Client Share</mat-label>
                <input autocomplete="off" formControlName="partnershare" matInput placeholder="Partner/Client Share" />
                <mat-error>Partner/Client Share is required </mat-error>
            </mat-form-field>
            <div class="form__action">
                <button mat-raised-button color="primary" type="submit">submit</button>
            </div>
        </div>
    </form>
    <!-- <h2>
        Cost of transformation % of IT spend:{{ cot?.value || 0 | currency: "USD":true:"1.0" }}
    </h2> -->
    <div class="result-tabel">
        <table class="table">
            <tbody>
                <tr>
                    <td class="w-50">COT % </td>
                    <td>{{ cot?.value || 0 }} %</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                </tr>
                <tr>
                    <td>Client Share</td>
                    <td>{{ clientshare?.value || 0 }} %</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                </tr>
                <tr>
                    <td>Partner/ Client share</td>
                    <td>{{ partnershare?.value || 0 }} %</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form [formGroup]="COT" action="">
            <div class="d-flex">
                <div>
                    <h3 style="text-align:bold ;">Cost of Spread</h3>
                </div>
            </div>
            <div class="inputs d-flex">
                <mat-form-field appearance="outline" class="p-2">
                    <mat-label>COT Spread Year1</mat-label>
                    <input autocomplete="off" formControlName="cosy1" matInput placeholder="COT Spread Y1" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-2">
                    <mat-label>COT Spread Year2</mat-label>
                    <input autocomplete="off" formControlName="cosy2" matInput placeholder="COT Spread Y2" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-2">
                    <mat-label>COT Spread Year3</mat-label>
                    <input autocomplete="off" formControlName="cosy3" matInput placeholder="COT Spread Y3" />
                </mat-form-field>
                <div class="form__action">
                    <button mat-raised-button color="primary" type="submit">submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="result-tabel">
        <table class="table">
            <tbody>
                <tr>
                    <th></th>
                    <th>year 1</th>
                    <th>year2</th>
                    <th>year3</th>
                </tr>
                <tr>
                    <td class="w-50">COT Spread</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                </tr>
                <tr>
                    <td>Client Share</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                </tr>
                <tr>
                    <td>Partner/ Client share</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                    <td>{{0|currency: "USD":true:"1.0"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-card>
